{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2</title>
    <link rel="stylesheet" type = 'text/css' href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
<form action='{% url 'secondProc' %}' METHOD="get">
    <h1>Second Task</h1>
    <div>
        <label for="year">Year</label>
        <input type="number" name = 'year' id = 'year'>
    </div>
    <div>
        <label for="term">Term</label>
        <input type="number" name = 'term' id = 'term'>
    </div>
    <div>
        <label for="ders_kod">Ders kod</label>
        <input type="text" name = 'ders_kod' id = 'ders_kod'>
    </div>
    <input type = "submit" value="Find">
</form>
</body>
</html>