{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13</title>
    <link rel="stylesheet" type = 'text/css' href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>
    <div id="task3Block">
        <h1 id="taskTitle">Thirteenth task</h1>
        <div id="cell">Total sum of retakes</div>
        <div id="cell">{{ obj.0.0 }}</div>
</div>
</body>
</html>